{% load static %}
<!DOCTYPE html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title> Home | rbashish (RB ASHISH) </title>
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-TRKSQF5"></script>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to rbashish Official site! A Tech Enthusiastic who is always willing to learn & grow. Find a more way to connect with him by visiting this site." />
    <meta name="keywords" content="rbashish, Ashish Gupta, Aashish, resume, rbashish resume, rbashish tech, enthusiastic, Tech Enthusiastic, developer, coder, Ashish kumar Gupta" />
    <meta name="msvalidate.01" content="8243F78AF037AFAB40C87B00C8B64299" />
    <meta name="google-site-verification" content="Up-n3I-D8ILwwub99hgf2sg5_ZDiLZi3g1Rm74n2pvg" />
    
    <meta property="og:url" content="https://rbashish.tech/" />
    <meta property="og:site_name" content="Home | rbashish (RB ASHISH)" />
    <meta property="article:publisher" content="https://twitter.com/aashishlive" />
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/1312014610174636032/A_NmnlVH_400x400.jpg" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">

    
   <link rel="icon" type="image/png" href="{% static '/assets/img/logo/web.png' %}" sizes="16x16">
   <link rel="icon" type="image/png" href="{% static '/assets/img/logo/web.png' %}" sizes="48x48">
   <link rel="mask-icon" href="{% static '/assets/img/icon/safari-pinned-tab.svg' %}" color="#5bbad5">
   <link rel="canonical" href="https://rbashish.tech/" />
	
	

	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    
    <!-- Optional theme 
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css-->
     
    <!--JQuery before Bootstrap js-->
    <script src="{% static 'assets/bootstrap/js/jquery-1.10.2.js' %}"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

	 
     <link href="{% static '/assets/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
     <link href="{% static '/assets/css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
     <link href="{% static '/assets/css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all" />
     <link href="{% static '/assets/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
     <link rel="stylesheet" type="text/css" href="{% static '/assets/css/custom.css' %}">
	
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/socicon-style.css' %}">

	

	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
 
    
	<script src="{% static 'assets/js//jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/typed.min.js' %}"></script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111109591-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-111109591-1');
	</script>
	
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3641110488583765",
        enable_page_level_ads: true
      });
    </script>

        <!--CSS post layout start-->
        <style>
            /* Styles for post header */
            .post-header {
                padding: 20px 0;
            }
        
            .post-meta {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #888;
                font-size: 14px;
            }
        
            .tags {
                flex-grow: 1;
            }
        
            .read-time {
                flex-shrink: 0;
                margin-left: 10px;
            }
        
            /* Style for post image */
            .post-image img {
                width: 768px;
                height: 512px;
                margin: 20px 0;
            }
        
            .image-source {
                text-align: center;
                font-size: 14px;
                color: #888;
            }
        
            /* Styles for post content wrapper */
            .post-content-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 20px;
            }
        
            .post-details {
                width: 759px;
            }
        
            /* Styles for fixed column */
            .fixed-column {
                width: 189px;
                position: sticky;
                top: 100px; /* Adjust this value as needed */
                height: calc(100vh - 100px); /* Adjust this value as needed */
                padding-left: 20px;
                background-color: #f7f7f7;
            }
        
            .fixed-content {
                position: absolute;
                bottom: 20px;
                width: 100%;
            }
        </style>
        
        <!--End of CSS post layout-->
</head>

<body>
 <div class="container">
    <div id=top1 class="text-center">
        <div class="jumbotron" id="boverride">
            <div id="jc"> <!--<i class="fa fa-plane fa-3x" aria-hidden="true"> rbashish.tech </i>-->
                <img src="{% static '/assets/logo/AWS_Certified_Logo_294x230_Black.png' %}" alt="AWS Certified Logo" />
            </div>
		</div>
	</div>	
	
	
          <!-- Start Nav bar-->
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Menu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/app/" rel="noopener">Apps</a></li>
	      <li><a href="/project"  rel="noopener">Projects</a></li>
		<li><a href="/blog" rel="noopener">Blog</a></li>
		<li><a href="#"onClick="alert('Resume is not available at the moment!')">CV</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contributions <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="https://www.quora.com/profile/RB-Ashish" target="_blank" rel="noopener">Quora</a></li>
            <li><a href="https://stackoverflow.com/users/4626508/rbashish" target="_blank" rel="noopener">StackOverFlow</a></li>
            <li><a href="https://tutorials.training" target="_blank" rel="noopener">TutorialsTraining</a></li>
            <li><a href="https://en.wikipedia.org/wiki/User:Rbashish" target="_blank" rel="noopener">Wikipedia</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://plus.google.com/communities/108791647859488319629" target="_blank" rel="noopener">Creative Writing</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- Date and tiem code-->
<style>
.custom-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: black;
  color: white;
  margin: 1px;
  line-height: 0.8; /* Adjust the line height as needed */
}

.date-time {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.date, .time {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.marquee {
  flex-grow: 1;
  background-color: #222; /* Change the middle row background color */
  
  padding: 5px;
}

marquee {
  font-size: 13px;
  white-space: nowrap;
}

#current-time {
  font-size: 12px;
}

</style>
<div class="custom-box">
    <div class="date-time date">
      <span>{% now "F d, Y" %}</span>
    </div>
    <div class="marquee">
      <marquee behavior="scroll" direction="left">Appreciate good people! They are hard to come by. Thanks for your visits!</marquee>
    </div>
    <div class="date-time time">
      <span id="current-time"></span>
    </div>
  </div>
  
  <script>
    function updateTime() {
      const currentTimeElement = document.getElementById('current-time');
      const now = new Date();
      const formattedTime = now.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit' });
      currentTimeElement.textContent = formattedTime;
    }
    
    updateTime(); // Initial call
    setInterval(updateTime, 1000); // Update time every second
  </script>
<!-- End of Date and tiem code-->
        

<!--Marquee text
		<font color="#fff">
		<marquee background-image: linear-gradient(to top,#0336FF 0,#222 100%); scrollamount="5">
		<strong>Appreciate good people! They are hard to come by. Thanks for your visits! </strong>
		</marquee></font>
   	 </div>-->
        

		<!--<script>
$(function(){
	$(".typed").typed({
		strings: ["TechEnthusiast", "Web Developer", "AWS Cloud Dev", "Wikipedian", "Blogger"],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 100,
		// time before typing starts
		startDelay: 1200,
		// backspacing speed
		backSpeed: 50,
		// time before backspacing
		backDelay: 500,
		// loop
		loop: true,
		// false = infinite
		loopCount: 180,
		// show cursor
		showCursor: false,
		// character for cursor
		cursorChar: "|",
		// attribute to type (null == text)
		attr: null,
		// either html or text
		contentType: 'html',
		// call when done callback function
		callback: function() {},
		// starting callback function before each string
		preStringTyped: function() {},
		//callback for every typed string
		onStringTyped: function() {},
		// callback for reset
		resetCallback: function() {}
	});
});
</script>-->


<script>
$(function(){
	$(".typed").typed({
		strings: ["TechEnthusiast", "Web Developer", "AWS Cloud Dev", "Wikipedian", "Blogger"],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 120,
		// time before typing starts
		startDelay: 1500,
		// backspacing speed
		backSpeed: 80,
		// time before backspacing
		backDelay: 600,
		// loop
		loop: true,
		// false = infinite
		loopCount: 5,
		// show cursor
		showCursor: false,
		// character for cursor
		cursorChar: "|",
		// attribute to type (null == text)
		attr: null,
		// either html or text
		contentType: 'html',
		// call when done callback function
		callback: function() {},
		// starting callback function before each string
		preStringTyped: function() {},
		//callback for every typed string
		onStringTyped: function() {},
		// callback for reset
		resetCallback: function() {}
	});
});
</script>

<section class="text-center">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</section>



<!--                 <section style=" background-image: linear-gradient(to top,#455a64 0,#111 100%); height: 30px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4" style="margin-top: 30px;  padding-left: 50px;">
                                <img src="{% static 'assets/img/logo/aws_white.png' %}" alt="aws_certified_logo" />
                            </div>
                        
                        </div>
                       
                    </div>
                </section> -->
                
                <div class="text-center">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Horizontal Display Ads -->
				<ins class="adsbygoogle"
			    	 style="display:block"
			     	data-ad-client="ca-pub-3641110488583765"
			     	data-ad-slot="5523567149"
			     	data-ad-format="auto"
			    	 data-full-width-responsive="true"></ins>
			<script>
			     (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
    		</div>
		<br />
		<br />
		
      
	
		 <footer class="footer-3 text-center-xs space--xs bg--dark ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                             <!--Img src to be here
							<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Frbashish.tech%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=">
                                <img style="border:0;width:88px;height:31px"
                                    src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                                alt="Valid CSS!" />
                                <img src="assets/img/icon/google_cloud.png" alt="Cloud" style="color:#a8adaf;width:30px; height:30px" /> &nbsp;-->
                                
                                <!--<i class="fa fa-plane fa-spin fa-2x" style="color:#a8adaf" aria-hidden="true"></i>-->
                                
                                <a href="https://play.google.com/store/apps/dev?id=8737523003385845832">
                                <i class="fab fa-android fa-2x" style="color:#a8adaf"></i></a>
                                &nbsp; &nbsp; 
                                
                                <a href="/certificate/AWS Certified Developer - Associate certificate.pdf" target="_blank" rel="noopener"> <i class="fab fa-aws fa-2x" style="color:#a8adaf"></i></a>
                                &nbsp; &nbsp;
                                
                                <a href="https://www.hackerrank.com/rbashish" target="_blank" rel="noopener">
                                <i class="fab fa-hackerrank fa-2x" style="color:#a8adaf"></i></a>
                                
                                &nbsp; &nbsp;
                                
                                <!--<a href="https://hub.docker.com/u/rbashish" target="_blank">
                                    <i class="fab fa-docker fa-2x" style="color:#a8adaf"></i></a>
                                </a>-->

                                



                             </a>
                            <ul class="list-inline">
								 <li class="list-inline-item">
								     
                            <!--<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Frbashish.tech%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=">
                                <img style="border:0;width:88px;height:31px"
                                    src="https://jigsaw.w3.org/css-validator/images/vcss"
                                    alt="Valid CSS!" />
                            </a>-->
                            </li>
                                <!--<li class="list-inline-item">
                                    <a href="http://aashish.co.in" target="_blank">
                                        <span class="type--fine-print">Blog</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://rbashish.app" target="_blank">
                                        <span class="type--fine-print">Apps</span>
                                    </a>
                                </li>-->
                            </ul>
                        </div>
                        <div class="col-md-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/rbashish/" target="_blank" rel="noopener">
                                        <i class="socicon socicon-linkedin icon icon--xs"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://twitter.com/aashishlive" target="_blank" rel="noopener">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="skype:rbashish?chat">
                                        <i class="socicon socicon-skype icon icon--xs"></i>
                                    </a>
                                </li>
                                <!--<li class="list-inline-item">
                                    <a href="http://instagram.com/rbashish" target="_blank">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>-->
                                </li>
								 <li class="list-inline-item">
                                    <a href="https://stackoverflow.com/users/4626508/rbashish">
                                        <i class="socicon socicon-stackoverflow icon icon--xs"></i>
                                    </a>
                                </li>
								 <li class="list-inline-item">
                                    <a href="https://en.wikipedia.org/wiki/User:Rbashish" target="_blank" rel="noopener">
                                        <i class="socicon socicon-wikipedia icon icon--xs"></i>
                                    </a>
                                </li>
								 <!--<li class="list-inline-item">
                                    <a href="https://www.facebook.com/rbashish" target="_blank">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>-->
								<li class="list-inline-item">
                                    <a href="https://github.com/rbashish" target="_blank" rel="noopener">
                                        <i class="socicon socicon-github icon icon--xs"></i>
                                    </a>
                                </li>
								<li class="list-inline-item">
                                    <a href="https://hub.docker.com/u/rbashish" target="_blank" rel="noopener">
                                    <i class="fab fa-docker"></i></a>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-6">
                            <p class="type--fine-print">
                               <a class="type--fine-print" href="https://tutorials.training">CW@TT</a>
                            </p>
                        </div>
                        <div class="col-md-6 text-right text-center-xs">
                            <span class="type--fine-print">Copyright &copy; <?php echo date ("Y") ?> 
                                <!--<span class="update-year">2019 </span>--> </span>
                            <a class="type--fine-print" href="https://rbashish.tech/privacy-policy.html">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Terms</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
	<script>
		console.log("%cHello from rbashish, a developer like you!", "background: #333; color: #fff; line-height: 25px; padding: 5px 10px;");
	</script>


</body>

</html>
