{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .card {
        width: 320px;
        height: 290px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgb(255, 255, 255);
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .card img {
        width: 100%;
        height: 140px;
        object-fit: cover;
        margin-bottom: 0.25rem;
    }

    .card-content {
        padding: 10px;
        flex-grow: 1;
    }

    .card-title {
        font-size: 1.25rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-intro {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-tags-date {
        font-size: 0.875rem;
        color: #777;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    .card-link {
        color: inherit;
        text-decoration: none;
    }

    .card-link:hover {
        color: inherit;
    }
</style>
<div class="row">
    {% for post in posts %}
        <div class="col-md-4">
            <a href="{% url 'post_detail' post.slug %}" class="card-link">
                <div class="card">
                    <img src="{{ post.image.url }}" alt="{{ post.image_alt }}">
                    <div class="card-content">
                        <div class="card-tags-date">
                            <span>{{ post.tag }}</span>
                            <span class="float-right">{{ post.date_added|date:"F j, Y" }}</span>
                        </div>
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p class="card-intro">{{ post.intro|truncatechars:80 }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
