{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="type--camelcase" style="color:#fff; font-family: 'Nunito', sans-serif;">Hi there, meet me...</h5>
                <div class="typed-headline">
                    <!--<span class="h1 inline-block">I'm</span>-->
                   <h2 class="text-center" style="color:#fff;"> <strong> I'm <span class="typed"></span>; </strong></h2>
                </div>
                <p class="lead">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                   <strong style="color:#fff;"> waiting for response; the request died! <i class="fa fa-quote-right" aria-hidden="true"></i>
                   <br />-- rbashish</strong>
                </p>


                
               
                
                 <!--<a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2018-10-08&ci=AWS00414874">
                      <img src="assets/logo/AWS_Certified_Developer_badge2.png" style="height:150px; width:150px;" alt="AWS Certfied Logo" title="Click here to view Certificate" />
                    </a>-->
                   <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2018-10-08&ci=AWS00414874">
                      <img src="{% static '/assets/img/logo/aws_digilogo_new.png' %}" style="height:200px; width:200px;" alt="rb ashish AWS Certfied Logo" title="Click here to view Certificate" />
                    </a>

<!--<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="491cc6c2-bda1-4e99-a738-3df3fe0d9c90" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>-->


               
                <br />
                <a class="btn btn--primary type--uppercase inner-link" href="#view">
                    <span class="btn__text">
                        Click to View
                    </span>
                </a>
            </div>
        </div>
        
         
            
    </div>
    </section>
    {% endblock %}