

       body {
           /*background-image: linear-gradient(to top,#455a64 0,#263238 100%);*/
           /*background: #532f8c;*/
	   /*background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);*/
           background-image: linear-gradient(135deg, #0d1116 0%, #0d1116 100%);
        }
        
        input {
            color: #000000;
           
        }
        
        input[type] {
             background: #eff3f9 !important;
        }
        textarea {
            color: #000000 !important;
            background: #eff3f9;
        }
        
        .lead {
            font-weight: 500;
            color: #ffffff;
            font-family: 'Nunito', sans-serif;
        }
      #top1 {
            color: #263238;
            /*color:#111;*/

        }
        
        .navbar {
			position: relative;
			min-height: 30px;
			margin-bottom: 0px;
			border: 0px solid transparent;
        }
        
        .navbar-inverse {
            /*background-image: linear-gradient(to top,#2b363c 0,#111 100%) !important;*/
            background:#000;
        }
        
        .navbar-inverse .navbar-nav>li>a {
            font-weight: bold;
        }
        
        .jumbotron {
            height: 30px !important;
        }
		.jumbotron {
		    padding-top: 20px;
            padding-bottom: 60px !important;
			margin-bottom: 0px;
			background-color: #eff3f9;
	    }
	
		.bg--dark {
             background: #000;
        }

	h3.project {
		font-family: monospace;
    		color: #0e0e0e;
    		font-weight: 800;
	}
