

       body {
           /*background-image: linear-gradient(to top,#455a64 0,#263238 100%);*/
           /*background: #2b363c;*/
           background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
        }
        
        input {
            color: #ffffff;
           
        }
        
        input[type] {
             background: #2b363c !important;
        }
        textarea {
            color: #ffffff !important;
            background: #2b363c;
        }
        
        .lead {
            font-weight: 400;
            color: #ffffff;
            font-family: 'Nunito', sans-serif;
        }
      #top1 {
            color: #263238;
            /*color:#111;*/

        }
        
      
		.jumbotron {
		    
			background-color: #b4cbec;
	    }
	
        
        .navbar {
			position: relative;
			min-height: 30px;
			margin-bottom: 0px;
			border: 0px solid transparent;
        }
        
        .navbar-inverse {
            background-image: linear-gradient(to top,#2b363c 0,#111 100%) !important;
            /*background:#000;*/
        }
        
        .navbar-inverse .navbar-nav>li>a {
            font-weight: normal;
        }
        
        
		.bg--dark {
             background: #171e21;
        }